<ion-content>
  <ion-slides pager="true" #slides>

    <ion-slide class="step-one">
      <h1>Explore the Demo</h1>
      <p>Explore the possibilities of ionic 4</p>
      <ion-button color="dark" (click)="slides.slideNext()">Next 👉</ion-button>
    </ion-slide>

    <ion-slide class="step-two">
      <h1>Watch the Videos</h1>
      <p>Each feature and concept is backed by a video tutorial and source code</p>
      <ion-button color="dark" (click)="slides.slideNext()">Next 👉</ion-button>
    </ion-slide>

    <ion-slide class="step-three">
      <h1>Deploy your Own</h1>
      <p>Build and deploy your own webapp </p>
      <ion-button color="dark" (click)="finish()" routerLink="/home">Awesome 👍</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>