<ion-app>
  <ion-menu side="start" type="push" contentId="main" #mymenu>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/" (click)="mymenu.close()">Home 🏠</ion-item>
        <ion-item routerLink="/tutorial" (click)="mymenu.close()">Intro Video 📺</ion-item>
        <ion-item routerLink="/todo" (click)="mymenu.close()">Todo ☑️</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
